Repository ekenheim/ecom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_medusa, build_storefront

build_medusa:
  stage: build
  script:
  - git clone ${CI_SSH_REPOSITORY_URL} . --depth ${GIT_DEPTH:-20}
  - cd medusa
  - "docker build \\\n  --tag \"${REGISTRY_ADDRESS}/${CI_PROJECT_PATH}/medusa:$CI_COMMIT_SHORT_SHA\" \\\n  --tag \"${REGISTRY_ADDRESS}/${CI_PROJECT_PATH}/medusa:latest\" \\\n  .\n"
  ...

build_storefront:
  stage: build
  script:
  - git clone ${CI_SSH_REPOSITORY_URL} . --depth ${GIT_DEPTH:-20}
  - cd storefront
  ...

fix(medusa): Copy build output from .medusa/server
  medusa/Dockerfile
Due: build_medusa

feat(medusa): Add additional environment variables for Docker build
  .github/workflows/docker-build.yml
  storefront/Dockerfile
Due: build_storefront

ci: Add incremental build number tag to Docker images
  .github/workflows/docker-build.yml
Due: none

fix(medusa): Enable corepack in base Docker image stage
  medusa/Dockerfile
Due: build_medusa

ci: Add workflow to cleanup old GHCR images
  .github/workflows/cleanup-ghcr.yml
Due: none

fix(medusa): Copy .yarn dir and lockfile to prod stage
  medusa/Dockerfile
Due: build_medusa

initial
  backend/.env.template
  backend/.env.test
  backend/.gitignore
  backend/.npmrc
  backend/.yarnrc.yml
  backend/README.md
  backend/instrumentation.ts
  backend/integration-tests/http/README.md
  backend/integration-tests/http/health.spec.ts
  backend/integration-tests/setup.js
  backend/jest.config.js
  backend/medusa-config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/admin/README.md
  backend/src/admin/i18n/README.md
  backend/src/admin/i18n/index.ts
  backend/src/admin/tsconfig.json
  backend/src/admin/vite-env.d.ts
  backend/src/api/README.md
  backend/src/api/admin/custom/route.ts
  backend/src/api/store/custom/route.ts
  backend/src/jobs/README.md
  backend/src/links/README.md
  backend/src/modules/README.md
  backend/src/scripts/README.md
  backend/src/scripts/seed.ts
  backend/src/subscribers/README.md
  backend/src/workflows/README.md
  backend/tsconfig.json
Due: none

initial: medusa backend with dockerfile and ci
  .github/workflows/docker-backend.yml
  backend/.dockerignore
  backend/Dockerfile
Due: none

chore: trigger ci with self-hosted runner
  backend/.dockerignore
Due: none

ci: route build jobs to self-hosted scale set runner
  .github/workflows/docker-backend.yml
Due: none

chore: trigger build
  backend/README.md
Due: none

fix: use PAT for ghcr.io push
  .github/workflows/docker-backend.yml
Due: none

fix: compile medusa-config.ts to ensure it exists in runner image
  backend/Dockerfile
Due: none

feat: add timestamp tag for flux image automation
  .github/workflows/docker-backend.yml
Due: none

feat: enable standalone output mode in Next.js configuration
  .github/workflows/docker-storefront.yml
  DEPLOYMENT.md
  Dockerfile
  next.config.js
Due: none

fix: update yarn install command in Dockerfile for improved dependency management
  Dockerfile
Due: none

fix: ensure consistent state between node_modules and yarn.lock in Dockerfile
  Dockerfile
Due: none

fix: add error handling to static parameter generation in category and collection pages
  src/app/[countryCode]/(main)/categories/[...category]/page.tsx
  src/app/[countryCode]/(main)/collections/[handle]/page.tsx
Due: none

fix: update TypeScript compiler options in Dockerfile for improved module resolution
  backend/Dockerfile
Due: none

fix: refine TypeScript compiler options in Dockerfile for better module handling
  backend/Dockerfile
Due: none

fix: set ownership and user for application files in Dockerfile
  backend/Dockerfile
Due: none

feat: add Redis modules to medusa-config for event bus, caching, and workflow engine
  .github/workflows/docker-backend.yml
  backend/medusa-config.ts
Due: none

fix: update command in Dockerfile to point to the correct index file and adjust Redis configuration in medusa-config for consistency
  backend/Dockerfile
  backend/medusa-config.ts
Due: none

feat: add build arguments for Medusa configuration in Docker workflow
  .github/workflows/docker-storefront.yml
Due: none

fix: update Redis configuration in medusa-config to use nested object structure
  backend/medusa-config.ts
Due: none

feat: add workflow_dispatch trigger to Docker workflow for manual execution
  .github/workflows/docker-storefront.yml
Due: none

fix: change cache strategy in getRegionMap function to no-store for improved data freshness
  src/middleware.ts
Due: none

fix: enhance error handling in getRegionMap function to ensure data integrity
  src/app/api/health/route.ts
Due: none

feat: add new S3 hostname and enable dynamic rendering for category, collection, and product pages
  next.config.js
  src/app/[countryCode]/(main)/categories/[...category]/page.tsx
  src/app/[countryCode]/(main)/collections/[handle]/page.tsx
  src/app/[countryCode]/(main)/products/[handle]/page.tsx
Due: none

fix: update Docker workflow cache strategy to use registry for improved build performance
  .github/workflows/docker-storefront.yml
Due: none

fix: update Dockerfile to use npm for production dependencies and streamline installation process
  medusa/Dockerfile
Due: build_medusa

chore: remove NEXT_PUBLIC_STRIPE_KEY from Dockerfile, workflow, and environment checks to streamline configuration
  .github/workflows/docker-storefront.yml
  storefront/Dockerfile
  storefront/check-env-variables.js
Due: build_storefront

fix: update FreeShippingInline and FreeShippingPopup components to use self-closing divs for improved JSX syntax
  storefront/src/modules/shipping/components/free-shipping-price-nudge/index.tsx
Due: build_storefront

fix: handle null selection in LanguageSelect component to prevent errors during locale update
  storefront/src/components/LanguageSelect.tsx
Due: build_storefront

fix: enhance error handling in listRegions function to return an empty array during production builds when backend is unreachable
  storefront/src/lib/data/regions.ts
Due: build_storefront

Path conditions:
  build_medusa: any of: medusa/**/*
  build_storefront: any of: storefront/**/*
