Repository ekenheim/ecom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_medusa, build_storefront

build_medusa:
  stage: build
  script:
  - git clone ${CI_SSH_REPOSITORY_URL} . --depth ${GIT_DEPTH:-20}
  - cd medusa
  - "docker build \\\n  --tag \"${REGISTRY_ADDRESS}/${CI_PROJECT_PATH}/medusa:$CI_COMMIT_SHORT_SHA\" \\\n  --tag \"${REGISTRY_ADDRESS}/${CI_PROJECT_PATH}/medusa:latest\" \\\n  .\n"
  ...

build_storefront:
  stage: build
  script:
  - git clone ${CI_SSH_REPOSITORY_URL} . --depth ${GIT_DEPTH:-20}
  - cd storefront
  ...

fix: add error handling in generateStaticParams functions across multiple pages to ensure graceful failure and return empty arrays on errors
  storefront/src/app/[countryCode]/(main)/about/page.tsx
  storefront/src/app/[countryCode]/(main)/collections/[handle]/page.tsx
  storefront/src/app/[countryCode]/(main)/cookie-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/inspiration/page.tsx
  storefront/src/app/[countryCode]/(main)/privacy-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/terms-of-use/page.tsx
  storefront/src/lib/data/regions.ts
Due: build_storefront

..
  storefront/src/lib/data/regions.ts
Due: build_storefront

fix: improve error handling in generateStaticParams functions to ensure consistent behavior across pages and return empty arrays on failure
  storefront/src/app/api/health/route.ts
Due: build_storefront

fix: update environment variable handling for Medusa backend URL and improve error handling in region fetching
  storefront/.env.template
  storefront/src/lib/config.ts
  storefront/src/middleware.ts
Due: build_storefront

feat: add dynamic rendering to multiple pages for improved content updates
  storefront/src/app/[countryCode]/(main)/about/page.tsx
  storefront/src/app/[countryCode]/(main)/cookie-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/inspiration/page.tsx
  storefront/src/app/[countryCode]/(main)/privacy-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/terms-of-use/page.tsx
Due: build_storefront

feat: add support for dynamic backend URL configuration in Docker setup
  .github/workflows/docker-backend.yml
  medusa/Dockerfile
  medusa/medusa-config.js
Due: build_medusa

feat: update storefront branding and content to reflect Tazari's identity, including new hero images, descriptions, and color palette
  storefront/public/images/content/tazari-about.png
  storefront/public/images/content/tazari-hero.png
  storefront/public/images/content/tazari-insp-1.png
  storefront/public/images/content/tazari-insp-3.png
  storefront/public/images/content/tazari-product-card.png
  storefront/src/app/[countryCode]/(main)/inspiration/page.tsx
  storefront/src/app/[countryCode]/(main)/page.tsx
  storefront/src/components/Footer.tsx
  storefront/src/components/Header.tsx
  storefront/tailwind.config.js
Due: build_storefront

feat: rebrand storefront to Tazari, updating all references, images, and content across multiple pages
  storefront/public/images/content/tazari-about-hero.png
  storefront/public/images/content/tazari-about-interior1.png
  storefront/public/images/content/tazari-about-interior2.png
  storefront/public/images/content/tazari-about-portrait.png
  storefront/public/images/content/tazari-auth-login.png
  storefront/public/images/content/tazari-auth-register.png
  storefront/src/app/[countryCode]/(checkout)/layout.tsx
  storefront/src/app/[countryCode]/(main)/about/page.tsx
  storefront/src/app/[countryCode]/(main)/auth/login/loading.tsx
  storefront/src/app/[countryCode]/(main)/auth/login/page.tsx
  storefront/src/app/[countryCode]/(main)/auth/register/loading.tsx
  storefront/src/app/[countryCode]/(main)/auth/register/page.tsx
  storefront/src/app/[countryCode]/(main)/cookie-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/privacy-policy/page.tsx
  storefront/src/app/[countryCode]/(main)/terms-of-use/page.tsx
  storefront/src/components/NewsletterForm.tsx
Due: build_storefront

feat: integrate Strapi Ecom CMS for enhanced product content management, including dynamic fetching of features and editorial descriptions
  medusa/.env.template
  medusa/medusa-config.js
  medusa/src/api/hooks/strapi/route.ts
  medusa/src/modules/strapi/index.ts
  medusa/src/modules/strapi/loader.ts
  medusa/src/modules/strapi/types.ts
  medusa/src/subscribers/sync-product-to-strapi.ts
  storefront/.env.template
  storefront/next.config.js
  storefront/src/app/[countryCode]/(main)/products/[handle]/page.tsx
  storefront/src/app/api/revalidate/route.ts
  storefront/src/lib/data/strapi-content.ts
  storefront/src/lib/strapi.ts
  storefront/src/modules/products/templates/index.tsx
Due: build_medusa, build_storefront

refactor: remove unused imports and improve code clarity in product page and template components
  storefront/src/app/[countryCode]/(main)/products/[handle]/page.tsx
  storefront/src/modules/products/templates/index.tsx
Due: build_storefront

feat: add Strapi client service to the Medusa module for enhanced integration capabilities
  medusa/package.json
  medusa/src/modules/strapi/index.ts
  medusa/src/modules/strapi/service.ts
  medusa/yarn.lock
Due: build_medusa

chore: update yarn.lock to reflect new package versions and dependencies for improved stability and performance
  medusa/src/api/hooks/strapi/route.ts
  medusa/src/subscribers/sync-product-to-strapi.ts
  medusa/yarn.lock
  storefront/src/app/[countryCode]/(main)/about/page.tsx
  storefront/src/app/[countryCode]/(main)/inspiration/page.tsx
  storefront/src/app/[countryCode]/(main)/page.tsx
  storefront/src/app/[countryCode]/(main)/products/[handle]/page.tsx
  storefront/src/lib/data/strapi-content.ts
  storefront/src/lib/strapi.ts
  storefront/src/modules/products/templates/index.tsx
Due: build_medusa, build_storefront

refactor: streamline JSX structure by consolidating div elements in About, Inspiration, and Product pages for improved readability
  storefront/src/app/[countryCode]/(main)/about/page.tsx
  storefront/src/app/[countryCode]/(main)/inspiration/page.tsx
  storefront/src/app/[countryCode]/(main)/products/[handle]/page.tsx
Due: build_storefront

feat: add MeiliSearch environment variables to Docker configuration for enhanced search capabilities
  .github/workflows/docker-storefront.yml
  storefront/Dockerfile
  storefront/src/app/[countryCode]/(main)/page.tsx
  storefront/src/app/layout.tsx
  storefront/src/lib/strapi.ts
Due: build_storefront

fix: update environment variables in Docker configuration for MeiliSearch integration and backend URL support
  .github/workflows/docker-storefront.yml
Due: none

feat: enable dynamic rendering for the main page by setting the dynamic export option
  storefront/src/app/[countryCode]/(main)/page.tsx
Due: build_storefront

fix: enhance error handling and logging in Strapi API fetch function for improved debugging
  storefront/src/lib/strapi.ts
Due: build_storefront

fix: update Strapi API fetch queries to use the new populate syntax for improved data retrieval
  storefront/src/lib/data/strapi-content.ts
Due: build_storefront

feat: add external script for enhanced functionality in RootLayout component
  storefront/src/app/layout.tsx
Due: build_storefront

Path conditions:
  build_medusa: any of: medusa/**/*
  build_storefront: any of: storefront/**/*
